.catalog__title {
  .font(@tc-black);
  .p-reset;
  margin-bottom: 35px;
  font-size: 36px;
  line-height: 60px;
  text-align: center;
}

.catalog {
  padding-top: 15px;
}

.catalog__list {
  .list_reset;
  display: flex;
  flex-wrap: wrap;
}

.catalog__item {
  width: 280px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 25px 19px 25px 20px;
  border-top: 1px solid #ededed;
}


.item__wrapper {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 18px;
}

.catalog__name-product {
  .font;
  .p-reset;
  margin-bottom: 18px;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__table {
  .font;
  .p-reset;
  color: #444444;
  font-family: "Arial MT", sans-serif;
  font-size: 12px;
  line-height: 16px;
  border-spacing: 0;
  border-collapse: collapse;
}

.catalog__field {
  padding: 0;
  padding-right: 50px;
  text-align: left;
}

.catalog__value {
  padding: 0;
  text-align: right;
}

.catalog__item:last-child {
  position: relative;
  padding-top: 87px;
  border-bottom: 1px solid #ededed;
}

.catalog__plus {
  position: absolute;
  top: 27px;
  width: 30px;
  height: 30px;
}

.catalog__all-profucts {
  .font;
  .p-reset;
  margin-bottom: 9px;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.catalog__data {
  .font(#444444);
  .p-reset;
  margin-bottom: 20px;
  font-family: "Arial MT", sans-serif;
  font-size: 12px;
  line-height: 16px;
}
