.page-footer {
  background-color: #f2f2f2;
  padding: 0 20px;


  @media (min-width: @tablet-width) {
    min-width: 708px;
    padding: 0 30px;
    //временно
    height: 150px;
  }

  @media (min-width: @desktop-width) {
    // width: 1220px;
    padding: 0 40px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.page-footer__logo {
  display: flex;
  padding-top: 39px;
  padding-bottom: 31px;
  border-bottom: 1px solid #dadada;
  align-self: stretch;
  justify-content: center;
}

.page-footer__logo-image {
  width: 128px;
  height: 24px;
}

.page-footer__social {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #dadada;
}

.social__list {
  .list_reset();
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 19px;
  width: 129px;
  border-bottom: 1px solid #dadada;
  align-items: baseline;
}

.social__link {
  display: flex;
  justify-content: center;
  fill: #666666;

  &:hover,
  :focus {
    fill: #68b738;
  }

  &active {
    fill-opacity: 0.3;
  }
}

.social__link--vkontakte {
  width: 23px;
  height: 13px;
}

.social__link--instagram {
  width: 17px;
  height: 17px;
}

.social__link--facebook {
  width: 11px;
  height: 20px;
}

.page-footer__copyright {
  padding-top: 17px;
  padding-bottom: 22px;
  align-self: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    margin: 0;
    width: 162px;
    position: relative;
  }
}

.copyright__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: @mobile-width-only) {
    width: 280px;
  }
}

.copyright__name {
  .font();
  color: #444444;
  font-family: "Arial MT", sans-serif;
  font-size: 16px;
  line-height: 16px;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  &:hover,
  :focus {
    fill: #68b738;
  }

  &active {
    fill-opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .page-footer__social,
  .social__list,
  .page-footer__logo {
    border: none;
  }
}
