.page-header {
  width: auto;
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    min-width: 708px;
    padding: 0 30px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
  }
}

.page-header__logo {
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: @tablet-width) {
    border-bottom: none;
  }
}

.page-header__logo-image {
  width: 191px;
  height: auto;
  display: block;
  margin-top: 12px;
  margin-bottom: 16px;
  margin-left: 20px;

  @media (min-width: @tablet-width) {
    width: 173px;
    margin: 0;
    margin-top: 29px;
    // временно
    height: 58px;
    // &:hover,
    // :focus {
    //   opacity: 0.8;
    // }

    // &:active {
    //   opacity: 0.6;
    // }
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    //временно
    height: 59px;
    margin-top: 54px;
  }
}
