.system {
  margin: 0, auto;
  padding: 0 20px;
  margin-bottom: 43px;

  @media (min-width: @tablet-width) {
    min-width: 708px;
    padding: 0 30px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    padding: 0 40px;
    margin: 0 auto;
    margin-bottom: 90px;
  }
}

.system__title {
  .p-reset();
  margin-bottom: 28px;
  .font(@tc-black);
  font-size: 36px;
  line-height: 60px;

  @media (min-width: @tablet-width) {
    margin-bottom: 73px;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
}

.system__list {
  .list_reset();
  display: flex;
  flex-direction: column;

  @media (min-width: @tablet-width) {
    height: 543px;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
  }

  @media (min-width: @desktop-width) {
    height: 228px;
  }
}

.system__item {
  position: relative;
  margin-bottom: 20px;

  &::before {
    position: absolute;
    width: 60px;
    height: 60px;
    content: "";
    top: 0;
    left: 0;
    background-color: @bg-green;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--1::before {
    background-image: url("../img/advantage-leaf@1x.png");
    background-size: 50px auto;
  }

  &--2::before {
    background-image: url("../img/advantage-powder@1x.png");
    background-size: 50px auto;

  }

  &--3::before {
    background-image: url("../img/advantage-dining@1x.png");
    background-size: 50px auto;

  }

  &--4::before {
    background-image: url("../img/advantage-clock@1x.png");
    background-size: 50px auto;

  }

  @media (min-resolution: @retina-dpi),
  (min-resolution: @retina-dppx) {
    &--1::before {
      background-image: url("../img/advantage-leaf@2x.png");
    }

    &--2::before {
      background-image: url("../img/advantage-powder@2x.png");
    }

    &--3::before {
      background-image: url("../img/advantage-dining@2x.png");
    }

    &--4::before {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }


  @media (max-width: @mobile-width-only) {
    flex-basis: 60px;
  }

  @media (min-width: @tablet-width) {
    width: 325px;
    //временно
    height: 228px;
    flex-direction: column;
    margin: 0;
    padding-top: 112px;
    padding-right: 69px;
    box-sizing: border-box;

    &::before {
      width: 80px;
      height: 80px;
    }
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    padding-right: 0;
  }
}

.system__item:last-child {
  margin-bottom: 0;
}

.system__text {
  .p-reset();
  padding-left: 80px;
  .font(#444444);
  font-family: "Arial MT", sans-serif;
  font-size: 14px;
  line-height: 18px;
  align-self: center;

  @media (min-width: @tablet-width) {
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}
