@import "scaffolding.less";
@import "variables.less";
@import "mixins.less";

body {
  min-width: 320px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0;
  .font();
  background-color: @bg-white;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

@import "visually-hidden.less";
@import "blocks/page-header.less";
@import "blocks/main-nav.less";
@import "blocks/choice.less";
@import "blocks/system.less";
@import "blocks/example.less";
@import "blocks/contacts.less";
@import "blocks/page-footer.less";
@import "blocks/catalog.less";
